.container_basket {
	@include display-flex-flex-direction-column-justify(center, center);

	.article_container__basket__card {
		@include card-form-secondary;
		@include display-grid(4, 3, 5px);
		column-gap: 10px;

		.article_basket__h__name {
			grid-column: 2/5;
			grid-row: 2;
			justify-self: center;
			text-decoration: underline;
		}

		.article_basket__p__quantity {
			grid-column: 1/4;
			grid-row: 4;
			text-align: center;
		}

		.article_basket__p__rising {
			z-index: 20;
			grid-column: 1/4;
			grid-row: 3;
			justify-self: center;
		}

		.article_basket__button__delete {
			background-color: $app-six-background-color;
			border-color: $app-button-border-color;
			border-radius: $border-radius-primary-card;
			grid-column: 5;
			grid-row: 2/5;
		}

		.article_basket__img__garbage {
			width: 25px;
		}
		.article_basket__div__background {
			height: 60px;
			background-color: $app-button-border-color;
			border-radius: $border-radius-primary-card;
			grid-column: 1/3;
			grid-row: 2/6;
			align-self: center;
		}
	}
}
