/* ------------------ size font ----------------- */

$app-font-size-label: calc(14px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));

$app-font-size-h1: calc(40px + (50 - 40) * ((100vw - 300px) / (1600 - 300)));

$app-font-size-h2: calc(32px + (40 - 32) * ((100vw - 300px) / (1600 - 300)));

$app-font-size-li: calc(25px + (40 - 32) * ((100vw - 300px) / (1600 - 300)));

$app-font-size-p: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));

/* ------------ font color ------------------*/

$app-font-color-primary: #d1c1b4;

/* ------------------ background-color ----------------- */

$app-primary-background-color: #251b20;
$app-secondary-background-color: #a5959d;
$app-third-background-color: #a5959d;
$app-four-background-color: #96807e;
$app-five-background-color: #d1c1b4;
$app-six-background-color: #e74c3c;;
$app-seven-background-color: #3f3238;
$app-heigth-background-color: #494748;
$app-nine-background-color: #FFF;

$app-primary-background-color-linear:linear-gradient(249deg, rgb(189 194 198 / 18%) 0%, rgb(68 121 144 / 43%) 35%, rgb(159 187 193 / 20%) 64%, rgba(0, 22, 255, 0.1993172269) 100%);

/* ------------------ color ----------------- */

$app-primary-button-color: #fff;
$app-secondary-button-color: #000000;
$app-primary-button-color: #fff;
$app-secondary-button-color: #000000;

$app-primary-button-color-gradient: linear-gradient(44deg, #483a54, #00b5ff);

$app-secondary-button-color-gradient: linear-gradient(135deg, #007bff, #00bfff);

$app-third-button-color-gradient: linear-gradient(135deg, #4caf50, #87d64a);


/* ---------- border radius --------- */

$border-radius-primary-card: 15px;



/* ------------------ height width button -----------------*/

$app-height-button-primary: 45px;
$app-width-button-primary: 45px;

$app-button-radius-login:10px;

$app-button-padding: 7px 25px;

/* button border-color */

$app-button-border-color: transparent;
