.container_navbar {
	width: 100vw;
	height: 65px;
	border-bottom: 2px solid $app-heigth-background-color;
	background-color: $app-primary-background-color;
	position: fixed;
	top: 0;
	z-index: 20;

	@include tablet_744__px {
		height: 90px;
	}

	.list_ul__li__navbar {
		@include display-flex-justify(100%, center);

		.list_li__name__people {
			text-decoration: underline wavy;
			font-size: $app-font-size-li;
		}

		a {
			width: 100px;
			background-color: $app-heigth-background-color;
			border-radius: $border-radius-primary-card;

			@include desktop_1024__px {
				width: 125px;
			}

			> li {
				font-size: $app-font-size-p;

				&::first-letter {
					font-size: $app-font-size-li;
				}
			}
		}
	}
}
