@import "./sass/utils/mixins-media-queries";
@import "./sass/utils/mixins-input-button";
@import "./sass/utils/mixins";
@import "./sass/base/fonts";
@import "./sass/utils/variables";

/* ----------------           Pages            ---------------- */

@import "./sass/pages/Registration.scss";

/* ----------------           Components            ---------------- */

@import "./sass/components/Navbar.scss";


* {
	font-family: $app-primary-font;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

input {
	height: 30px;
	width: 250px;
}

div > label {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	font-size: $app-font-size-label;
}
