@import "./sass/utils/mixins-media-queries";
@import "./sass/utils/mixins";
@import "./sass/base/fonts";
@import "./sass/utils/variables";

/* ----------------           Pages            ---------------- */

@import "./sass/pages/Registration.scss";
@import "./sass/pages/Shopping.scss";
@import "./sass/pages/Basket.scss";

/* ----------------           Components            ---------------- */

@import "./sass/components/Navbar.scss";

* {
	font-family: $app-primary-font;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

#root {
	height: 100vh;
	padding-top: 65px;

	@include tablet_744__px {
		padding-top: 90px;
	}
}
h2 {
	color: $app-nine-background-color;
}

a,
li {
	color: $app-four-background-color;
	text-align: center;
}

div {
	background-color: $app-primary-background-color;
	color: $app-nine-background-color;
}

article {
	width: 80%;
}

input {
	height: 30px;
	width: 250px;
}

div > label {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	font-size: $app-font-size-label;
	color: $app-four-background-color;
	display: inline-block;

	&::first-letter {
		text-transform: uppercase;
	}
}
